Package: com.yourname.aodtweak
Name: Always on display 
Version: 1.0.0
Architecture: iphoneos-arm
Description: Always-On-Display 
Maintainer: YourName
Author: YourName
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0), preferenceloader
